<br>
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-6 offset-md-3">
            <h1>Registration</h1>
            <form (ngSubmit)="onSubmit(userForm, $event)" #userForm="ngForm">
                <div class="row" *ngIf="successMsg">
                    <div class="col-xs-12">
                        <p class="alert alert-success">
                            <strong>Registration Successful! </strong><a href="/login">Log in here</a>
                        </p>
                    </div>
                </div>
                <div class="row" *ngIf="isErr">
                    <div class="col-xs-12">
                        <p class="alert alert-danger">
                            <strong>Registration unsuccessful! {{errMessage}}</strong>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="firstName">
                        First Name
                    </label>
                    <input id="firstName" name="firstName" [ngClass]="{'form-submitted': formSubmitted}"
                        [(ngModel)]="user.firstName" class="form-control" placeholder="Enter first name" required firstName="ngModel" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="lastName">
                        Last Name
                    </label>
                    <input id="lastName" name="lastName" [ngClass]="{'form-submitted': formSubmitted}"
                        [(ngModel)]="user.lastName" class="form-control"  placeholder="Enter last name" required lastName="ngModel" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="email">
                        Email
                    </label>
                    <input id="email" name="email" [ngClass]="{'form-submitted': formSubmitted}"
                        [(ngModel)]="user.email" class="form-control" placeholder="Enter email" required email="ngModel" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="password">
                        Password
                    </label>
                    <input id="password" name="password" [ngClass]="{'form-submitted': formSubmitted}"
                        [(ngModel)]="user.password" class="form-control"  placeholder="Enter password" type="password" required password="ngModel"
                        minlength="8" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-info">Register</button>
                    <span>Already registered? <a href="/login">Login here</a></span>
                </div>
            </form>
        </div>
    </div>